.App {
  background-color: #282c34;
}

.App-header {
  padding: 10px;
  background-color: #222222;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  align-items: left;
  justify-content: left;
  color: white;
}

.App-menu {
  padding: 10px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  align-items: left;
  justify-content: left;
  color: white;
}

.App-body {
  background-color: #222222;
  min-height: 50vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.Menu-brand {
  border: 0;
  background-color: #282c34;
  padding-bottom: 7px;
  padding-top: 5px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.Menu-button {
  border: 0;
  background-color: #282c34;
  padding-bottom: 7px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #ebc20c;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.Menu-button:hover {
  color: #ffffff;
}

.Menu-button:focus {
  outline: none;
}

.Component-title {
  padding-top: 7px;
  font-size: 16px;
  font-weight: bold;
  color: #ebc20c;
}

.Component-expl {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}