.App {
  background-color: black;
}

.App-header {
  padding: 10px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  align-items: left;
  justify-content: left;
  color: white;
}

.App-body {
  background-color: black;
  min-height: 50vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-menu {
  padding: 10px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: white;
}

.Menu-brand {
  border: 0;
  background-color: #282c34;
  padding-bottom: 7px;
  padding-top: 5px;
  vertical-align: middle;
  font-size: calc(8px + 1vw + .5vmin);
  font-weight: bold;
  color: #ffffff;
}

.Menu-button {
  border: 0;
  background-color: #282c34;
  padding-bottom: 7px;
  padding-top: 5px;
  font-size: calc(8px + 1vw + .5vmin);
  font-weight: bold;
  color: #ebc20c;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.Menu-button:hover {
  color: #ffffff;
}

.Menu-button:focus {
  outline: none;
}

.Home-card-large {
  border: 0;
  padding: 16px;
  background-color: transparent;
  font-size: 2.5vw;
  font-weight: bold;
  color: #ffffff
}

.Home-card-small {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 3.0vw;
  font-weight: bold;
  color: #ffffff
}

.Component-title {
  padding-top: 7px;
  font-size: 16px;
  font-weight: bold;
  color: #ebc20c;
}

.Component-expl {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}

.Component-small {
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
}

.Content-title {
  font-size: 16px;
  font-weight: bold;
  color: #ebc20c;
}

.Content-name {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.Content-large {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.Content-small {
  font-size: 12px;
  font-weight: normal;
  color: #ff00ff;
}

.FormAlignedBtn {
  margin-top: 32px;
}

.ListRow {
  padding: 5px;
}

.btn-action {
  color: #fff;
  background-color: #880088;
  border-color: #880088;
}

.btn-action:hover {
  color: #fff;
  background-color: #660066;
  border-color: #660066;
}